body{
    background-color: rgb(189, 184, 184);
}
.page_header{
    width: 100%;
    min-height: 55px;
    background-image: url(http://dgdesign.ru/uploads/posts/2017-01/1484328128_6543f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: cover;
  }
.gorizontal
{
    margin-top: 15px;
    margin-left: 30px;
    display: inline-block;
}
.gorizontal a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.content
{
    background: gainsboro;
    width: 300px;
    margin: 7px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 40px;
    border: 4px, gray;
    display: block;
    float:left

}
.photo
{
    display: block;
    float: left;
    margin: 10px;
    margin-top: 40px;
    margin-left: 430px;
    position:absolute
}
.dog
{
    background: gainsboro;
    width: 300px;
    height: auto;
    margin: 7px;
    margin-left: 435px;
    margin-top: 575px;
    padding: 40px;
    border: 4px, gray;
    position: absolute;
}
.box
{
    background: gainsboro;
    width: 300px;
    height: auto;
    margin: 7px;
    margin-left: 870px;
    margin-top: 40px;
    padding: 40px;
    border: 4px, gray;
    position: absolute;
}
.newStyle
{
    color: red;
}
.advert
{
    display: block;
    float: left;
    margin: 10px;
    margin-top: 100px;
    margin-left: 1350px;
    position:absolute
}
.footer
{
    clear: both;
    margin: 0 auto;
    text-align: center;
}